<h1>Exercise 1</h1>
<ng-container>
  <form [formGroup]="productForm" novalidate>
    <div>
      <label for="productName">Product name</label>
      <input type="text" class="qa-product-name" formControlName="productName">
    </div>
    <div>
      <label for="productName">Product price</label>
      <input type="number" class="qa-product-price" formControlName="price">
    </div>
    <button type="submit" class="qa-submit" (click)="onSubmit()">Submit</button>
    <button (click)="resetForm()">Reset</button>
  </form>

  <ng-container *ngIf="productForm.valid && isSubmitted; else showErrors">
    <p class="qa-success">Congrats! your form was submitted succesfully</p>
  </ng-container>

  <ng-template #showErrors>
    <div *ngIf="isSubmitted">
      <div *ngIf="productName?.errors">
        <ng-container *ngIf="productName?.errors!['maxlength'] || productName?.errors!['required']">
          <p class="qa-product-name-max-length">The product name must be a string smaller than 20 characters</p>
        </ng-container>
        <ng-container *ngIf="productName?.errors!['minlength'] || productName?.errors!['required']">
          <p class="qa-product-name-min-length">The product name must be a string longer than 5 characters</p>
        </ng-container>
      </div>
      <div *ngIf="productPrice?.errors">
        <ng-container *ngIf="productPrice?.errors!['max']  || productPrice?.errors!['required']">
          <p class="qa-product-price-max-value">The price must be a number smaller than 20</p>
        </ng-container>
        <ng-container *ngIf="productPrice?.errors!['min']  || productPrice?.errors!['required']">
          <p class="qa-product-price-min-value">The price must be a number greater than 5</p>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ng-container>