<h1>Exercise 4</h1>

<div class="container">
    <div class="wrapper">
        <div class="card header">Header</div>
        <div class="card sidebar">Sidebar</div>
        <div class="card feature">Feature</div>
        <div class="card a">A</div>
        <div class="card b">B</div>
    </div>
</div>