.container {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: grid;
    max-width: 600px;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
}

.card {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.5rem;
}

.header {
    grid-column: 1 / 5;
}

.sidebar {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.feature {
    grid-column: 3 / 5;
}

@media only screen and (min-width: 900px) {
    .container {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .header {
        grid-column: 1 / 5;
    }

    .sidebar {
        grid-column: 1 / 5;
    }

    .feature {
        grid-column: 1 / 5;
    }

    .a {
        grid-column: 1 / 5;
    }

    .b {
        grid-column: 1 / 5;
    }
}